.expertise {
    padding-bottom: 77px;
    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 75px;
    }
}