.form {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 40px;
    color: #818181;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #818181;
    input {
        margin-bottom: 60px;
        padding: 10px 35px;
        border: none;
        border-bottom: 1px solid rgba(43, 43, 43, 0.25);;
        &:nth-child(4) {
            margin-bottom: 0;
        }
    }
}