.logo {
    display: flex;
    align-items: center;
    gap: 25px;
    color: #1E1E1E;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3.125px;
    text-transform: uppercase;
    text-decoration: none;
}